<!doctype html>
<html lang="en">
    <!-- ======= ======= ======= head ======= ======= ======= -->
	<head>
	    <meta charset="utf-8">
	    <title>Training Share</title>

        <!-- == styles == -->
	    <link rel="stylesheet" type="text/css" href="styles.css">
	</head>

    <!-- ======= ======= ======= body ======= ======= ======= -->
	<body>

		<!-- == content == -->
    <%= yield %>

		<!-- == scripts == -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="script.js"></script>

	</body>
</html>
