<!-- == header == -->
<div id="logo" class="section">
  <p> Train / Share / Achieve Your Goal </p>
</div>


<div id="signupBox" class="userIntake">
  <p>Please Sign up!</p>
  <form class="logForm" method="post" action="sign_up">
    <p>Username: <input type="text" name="username" value="XiXi123"></p><br>
    <p>Password: <input type="text" name="password" value="Luo"></p><br>
    <input type="submit" value="Submit">
  </form>
</div>


<div id="loginBox" class="userIntake">
  <p>Please Log In!</p>
  <form class="logForm" method="post" action="sign_in">
    <p>Username: <input type="text" name="username" value="XiXi123"></p><br>
    <p>Password: <input type="text" name="password" value="Luo"></p><br>
    <input type="submit" value="Submit">
  </form>
</div>
