<div class="navigationMenu">
  <div class="nav">
    <p><a href="/user">Home</href></a></p>
  </div>
</div>

<div id="welcomeSign">
  <p style="font-size:25px; font-weight:bold;"> Welcome! See training plans below.</p>
</div>

<div class="trainBx">
  <p style="font-size:20px; font-weight:bold">Basic Fitness</p>
  <img id="enduranceimage" src="enduranceimage.jpg">
</div>

<div class="trainBx">
  <p style="font-size:20px; font-weight:bold">Strength</p>
  <img id="strengthimage" src="strengthimage.jpg">
</div>

<div class="trainBx">
  <p style="font-size:20px; font-weight:bold">Power</p>
  <img id="powerimage" src="powerimage.jpg">
</div>

<div class="trainBx">
  <p style="font-size:20px; font-weight:bold">Power Endurance</p>
  <img id="powerenduranceimage" src="powerenduranceimage.jpg">
</div>
