<div id="mainpPage">
  <img src="image1.jpg" width=100%>
</div>


<div id="welcomeSign">
  <p style="font-size:25px; font-weight:bold;"> Welcome! See training plans below.</p>
</div>

<div class="mainTopics">
  <div id="periodizationBx">
    <p style="font-weight:bold;">Periodization</p>
    <p>Periodization is a strategy for physical training in which different training activities are performed in accordance with a carefully designed schedule. The purpose of this timing is to achieve a synergistic effect on overall performance that results in a performance peak at a predictable time. The Rock Prodigy Training Program is designed to be implemented within the framework of a three-to-four-month periodic training plan. This means that each calendar year will typically consist of three or four deliberately defined seasons, with each season consisting of several multiweek phases, including a Training Phase, Performance Phase, and a Rest Phase. Each phase will emphasize a particular type of physical training. The basic framework of this program is a linearly periodic macro-cycle consisting of six phases.</p>
  </div>

  <div class="image">
    <img id="periodizationPic" src="performance-peak-chart2_low.jpg">
  </div>

</div>
<p>Please see details<a href="/share"> HERE</href>!</a></p>
